<h1>Stupid Coaching</h1>

<div class="question">
  <h2><%= @question %></h2>
  <p><i>-You</i></p>
</div>

<div class="answer">
  <h2><%= @answer %></h2>
  <p><i>-Your coach</i></p>
</div>

<a href="/ask">Ask Another Question</a>
