<h1>Questions</h1>

<form class="form-inline" action="/answer" method="get">
  <input type="text" name="question" placeholder="What's your question?">
  <input class = "btn btn-primary" type="submit" value="Ask!">
</form>
